<div class="text-center">
    <h3><b>Contacts & Links</b></h3>
    <br/>
    <p>
        <a href="https://github.com/CCBrenner" target="blank">GitHub</a>&nbsp;&nbsp;||&nbsp;
        <a href="https://www.linkedin.com/in/collyn-b-7a6942a8?trk=people-guest_people_search-card" target="blank">LinkedIn</a>&nbsp;&nbsp;||&nbsp;
        <a href="https://twitter.com/cc_brenner" target="blank">Twitter</a>&nbsp;&nbsp;||&nbsp;
        <a href="https://hub.docker.com/u/collynb" target="blank">DockerHub</a>&nbsp;&nbsp;||&nbsp;
        <a href="https://stackoverflow.com/users/17405018/collyn-brenner" target="blank">Stack Overflow</a>
    </p>
    <p>Email me at: collynbrenner@gmail.com</p>
</div>

@code { }
