<div class="nav-item @ButtonShadow" @onclick='(()=>OnClickCallback.InvokeAsync(""))'>
    <NavLink class="nav-link" href="@Href">
        @if (IconClasses != "")
        {
            <span class="icon @IconClasses" aria-hidden="true"></span>
        }
        @ButtonText
    </NavLink>
</div>

@code {
    [Parameter]
    public bool IsNavLink { get; set; } = true;
    [Parameter]
    public string Href { get; set; } = string.Empty;
    [Parameter]
    public string IconClasses { get; set; } = "fa-regular fa-circle";
    [Parameter]
    public string ButtonText { get; set; } = string.Empty;
    [CascadingParameter]
    public bool IsCurrentPromo { get; set; } = false;
    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private string ButtonShadow => IsCurrentPromo ? "button-shadow" : string.Empty;
}
