@using ProfessionalWebsite.Client.Services.UI;

@inject UIService UI
@implements IDisposable

<div class="toggle-all-sections-container">
    <div class="toggle-all-sections" @onclick="(()=>UI.ToggleSectionedPage(PageId))">
        @if (UI.SectionedPages[PageId].Status == SectionedPageStatus.AllAreOpen)
        { <span class="fa-solid fa-down-left-and-up-right-to-center"></span> }
        else
        { <span class="fa-solid fa-up-right-and-down-left-from-center"></span> }
    </div>
</div>

@code {
    [Parameter]
    public int PageId { get; set; }

    protected override void OnInitialized()
    {
        UI.OnUiServiceChanged += UpdateThisComponent;
    }
    void IDisposable.Dispose()
    {
        UI.OnUiServiceChanged -= UpdateThisComponent;
    }
    private void UpdateThisComponent(string meaninglessRequirement)
    {
        StateHasChanged();
    }
}
