@using ProfessionalWebsite.Client.Services.UI.Mgmt;

@implements IDisposable

<div class="toggle-all-sections-container">
    <div class="toggle-all-sections" @onclick="(()=>App.Section.ToggleAllSections(PageId))">
        @if (App.Section.SectionedPages[PageId].SectionsStatus == SectionsStatus.AllAreOpen)
        { <span class="fa-solid fa-down-left-and-up-right-to-center"></span> }
        else
        { <span class="fa-solid fa-up-right-and-down-left-from-center"></span> }
    </div>
</div>

@code {
    [CascadingParameter]
    public App? App { get; private set; }
    [Parameter]
    public int PageId { get; set; }

    protected override void OnInitialized()
    {
        App.Section.OnSectionMgmtChanged += UpdateThisComponent;
    }
    void IDisposable.Dispose()
    {
        App.Section.OnSectionMgmtChanged -= UpdateThisComponent;
    }
    private void UpdateThisComponent(string meaninglessReqApprement)
    {
        StateHasChanged();
    }
}
