@using ProfessionalWebsite.Client.Classes.SudokuSolverProject;

<div class="puzzle">
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(1).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(2).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(3).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(10).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(11).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(12).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(19).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(20).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(21).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(4).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(5).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(6).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(13).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(14).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(15).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(22).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(23).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(24).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(7).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(8).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(9).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(16).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(17).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(18).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(25).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(26).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(27).Value" maxlength="1" />
            </div>
        </div>
    </div>
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(28).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(29).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(30).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(37).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(38).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(40).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(46).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(47).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(48).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(31).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(32).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(33).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(41).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(42).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(43).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(49).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(50).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(51).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(34).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(35).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(36).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(44).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(45).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(46).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(52).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(53).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(54).Value" maxlength="1" />
            </div>
        </div>
    </div>
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(55).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(56).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(57).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(64).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(65).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(66).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(73).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(74).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(75).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(58).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(59).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(60).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(67).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(68).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(69).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(76).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(77).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(78).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="Sudoku.Cell(61).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(62).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(63).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(70).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(71).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(72).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="Sudoku.Cell(79).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(80).Value" maxlength="1" />
                <input @bind="Sudoku.Cell(81).Value" maxlength="1" />
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public ISudoku? Sudoku { get; set; }
}