<div class="puzzle">
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(1).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(2).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(3).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(10).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(11).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(12).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(19).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(20).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(21).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(4).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(5).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(6).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(13).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(14).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(15).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(22).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(23).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(24).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(7).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(8).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(9).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(16).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(17).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(18).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(25).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(26).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(27).Value" maxlength="1" />
            </div>
        </div>
    </div>
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(28).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(29).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(30).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(37).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(38).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(40).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(46).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(47).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(48).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(31).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(32).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(33).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(41).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(42).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(43).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(49).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(50).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(51).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(34).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(35).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(36).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(44).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(45).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(46).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(52).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(53).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(54).Value" maxlength="1" />
            </div>
        </div>
    </div>
    <div class="block-row">
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(55).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(56).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(57).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(64).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(65).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(66).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(73).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(74).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(75).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(58).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(59).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(60).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(67).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(68).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(69).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(76).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(77).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(78).Value" maxlength="1" />
            </div>
        </div>
        <div class="block">
            <div class="cell-row">
                <input @bind="SudokuService.Cell(61).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(62).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(63).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(70).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(71).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(72).Value" maxlength="1" />
            </div>
            <div class="cell-row">
                <input @bind="SudokuService.Cell(79).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(80).Value" maxlength="1" />
                <input @bind="SudokuService.Cell(81).Value" maxlength="1" />
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public SudokuService? SudokuService { get; set; }
}