
.comp-container[b-suabrbh7gw] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-horizontal[b-suabrbh7gw] {
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle-selector[b-suabrbh7gw] {
    width: 100%;
    max-width: 220px;
    text-align: center;
}

.puzzle[b-suabrbh7gw] {
    background-color: #111;
    padding: 1px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.block-row[b-suabrbh7gw] {
    display: flex;
}

.block[b-suabrbh7gw] {
    background-color: #111;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.cell-row[b-suabrbh7gw] {
    display: flex;
}

input[b-suabrbh7gw] {
    width: 100%;
    text-align: center;
}

.buttons-container[b-suabrbh7gw] {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hint[b-suabrbh7gw] {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.button[b-suabrbh7gw] {
    margin: 0px 4px 0px 4px;
}

.alert[b-suabrbh7gw] {
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}
