
.puzzle[b-hn5dh9jzfv] {
    background-color: #111;
    padding: 1px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.block-row[b-hn5dh9jzfv] {
    display: flex;
}

.block[b-hn5dh9jzfv] {
    background-color: #111;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.cell-row[b-hn5dh9jzfv] {
    display: flex;
}

input[b-hn5dh9jzfv] {
    width: 100%;
    text-align: center;
}
