/* /Pages/BeeHiveMgmtSystem.razor.rz.scp.css */

/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.text-prompts-container[b-i8dz12kr23] {
    padding: 14px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v2[b-i8dz12kr23] {
    padding: 14px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts[b-i8dz12kr23] {
    height: calc(var(--content-height) - 340px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.text-prompts-v2[b-i8dz12kr23] {
    height: calc(var(--content-height) - 300px);
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.status-report[b-i8dz12kr23] {
    padding: 0px 70px 14px 70px;
}

.controls[b-i8dz12kr23] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop[b-i8dz12kr23] {
    background-color: #111;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-button[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
}

.controls-backdrop-v2[b-i8dz12kr23] {
    background-color: #111;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selector-row[b-i8dz12kr23] {
    display: flex;
    justify-content: center;
}

.workertype-selector[b-i8dz12kr23] {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-button[b-i8dz12kr23] {
    font-size: 1rem;
    background-color: rgba(0, 0, 128, 0.5);
    color: #777;
    margin: 4px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.assign-buttons-active[b-i8dz12kr23] {
    background-color: rgba(0, 0, 128, 1);
    color: #eee;
}

.report[b-i8dz12kr23] {
    background-color: lightgrey;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 8px;
}

.control-button-work[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v2[b-i8dz12kr23] {
    height: 40px;
    width: 360px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.workertype-inactive[b-i8dz12kr23] {
    background-color: rgba(255, 176, 0, 0.5);
}

.row-flex[b-i8dz12kr23] {
    display: flex;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
}

.field-flex[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    line-height: 1.2;
}

.field-flex-arrow[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex > *[b-i8dz12kr23] {
    text-align: center;
    padding-bottom: 4px;
}

.try-again[b-i8dz12kr23] {
    color: #eee;
    background-color: red;
    border-radius: 8px;
    padding: 4px 10px;
}

@media (min-width: 78vh) {
    .text-prompts-container[b-i8dz12kr23] {
        padding-right: 60px;
        padding-left: 60px;
    }

    .text-prompts[b-i8dz12kr23] {
        height: calc(var(--content-height) - 300px);
    }
}

@media (min-width: 1200px) {
    .text-prompts-container[b-i8dz12kr23] {
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container[b-i8dz12kr23] {
        padding-right: 220px;
        padding-left: 220px;
    }
}
/* /Pages/Counter.razor.rz.scp.css */
.page-container[b-8dvgtn8bwx] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 0px 16px 0px;
}
.no-margin[b-8dvgtn8bwx] {
    margin: 0px;
}
.count[b-8dvgtn8bwx] {
    font-size: 2rem;
}
.size-shape-btn-color[b-8dvgtn8bwx] {
    background-color: orange;
}
.cube-container[b-8dvgtn8bwx] {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.posicube-container[b-8dvgtn8bwx] {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}
.negacube-container[b-8dvgtn8bwx] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}
.cube[b-8dvgtn8bwx] {
    margin: 1px;
    display: inline-block;
}
.posicube[b-8dvgtn8bwx] {
    background-color: green;
}
.negacube[b-8dvgtn8bwx] {
    background-color: darkred;
}

/* controlled via razor class (C# adds and removes classes to element) */
.cube-circle[b-8dvgtn8bwx] {
    border-radius: 50%;
}

.cube-diamond[b-8dvgtn8bwx] {
    transform: rotate(45deg);  /* turns element 45deg */
    margin: 3px;  /* visually rotated leave corners overlapping (same spacing as before), so increase space around each */
}
/*
.example-class {
    animation: deg45-offset 1s linear infinite;
}
    @keyframes deg45-offset {
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(270deg);
    }
}
*/

/* /Pages/DrawerNavLinkButton.razor.rz.scp.css */
.icon[b-rn1yhbxamf] {
    color: #111;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-rn1yhbxamf] {
    border-left: 4px solid lightgrey;
    padding: 0px 16px 0px 36px;
    display: flex;
    flex: 1;
}

.nav-item[b-rn1yhbxamf] {
    font-size: 0.97rem;
}

    .nav-item[b-rn1yhbxamf]  span {
        padding-right: 10px;
    }

    .nav-item[b-rn1yhbxamf]  a {
        padding-left: 30px;
        color: #111;
        display: flex;
        align-items: center;
    }

        .nav-item[b-rn1yhbxamf]  a.active {
            background-color: rgba(0,0, 0, 0.12);
        }

        .nav-item[b-rn1yhbxamf]  a:hover {
            background-color: rgba(0,0, 0, 0.18);
        }

    .nav-item[b-rn1yhbxamf]  i {
        color: #eee;
    }
/* /Pages/DrawerPageTemplate.razor.rz.scp.css */

.drawer-page-template[b-r6bg92lucv] {
    width: 100%;
    height: 100%;
}

.drawer-lvl-one[b-r6bg92lucv], .external-toggle[b-r6bg92lucv] {
    display: none;
}

.page-content[b-r6bg92lucv] {
    /*height: calc(calc(100vh - var(--top-bar-height)) - var(--footer-height));*/
}

@media (min-width: 78vh) {
    .page-content[b-r6bg92lucv] {
        flex: 1;
        overflow-y: auto;
        height: calc(100vh - var(--top-bar-height));
    }
}

@media (min-width: 1008px) {
    .drawer-page-template[b-r6bg92lucv] {
        display: flex;
    }

    .drawer-lvl-one[b-r6bg92lucv], .external-toggle[b-r6bg92lucv] {
        display: block;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .drawer-lvl-one[b-r6bg92lucv] {
        background-color: #ccc;
        color: #111;
        width: 0px;
        height: 100%;
        transition: width 0.2s;
        position: sticky;
        top: 0;
    }

    .drawer-lvl-two[b-r6bg92lucv] {
        opacity: 0;
        transition: opacity 0.16s;
    }

    .drawer-header[b-r6bg92lucv] {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        background-color: #111;
        color: #eee;
        height: calc(var(--top-bar-height) - 10px);
    }

    .icon[b-r6bg92lucv] {
        color: #eee;
        width: 1.8rem;
        font-size: 0.9rem;
        vertical-align: text-top;
        top: -1px;
    }

    .drawer-header-text[b-r6bg92lucv] {
        text-align: left;
        height: calc(var(--top-bar-height) - 10px);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .internal-toggle[b-r6bg92lucv] {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--top-bar-height) - 10px);
        width: calc(var(--top-bar-height) - 10px);
    }

        .internal-toggle:hover[b-r6bg92lucv] {
            cursor: pointer;
        }

    .drawer-content-container[b-r6bg92lucv] {
        text-align: left;
        padding: 10px 0 10px 0;
        overflow-y: auto;
        height: calc(calc(100vh - var(--top-bar-height) - 46px));
    }

    .external-toggle[b-r6bg92lucv] {
        background-color: green;
        color: #eee;
        visibility: visible;
        background-color: black;
        color: #eee;
        position: absolute;
        width: calc(var(--top-bar-height) - 10px);
        height: calc(var(--top-bar-height) - 10px);
        border-radius: 0 0 6px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .external-toggle:hover[b-r6bg92lucv] {
            cursor: pointer;
        }

    /* start Pluggable classes */
    .drawer-lvl-one-visible[b-r6bg92lucv] {
        width: 300px;
    }

    .drawer-lvl-two-visible[b-r6bg92lucv] {
        opacity: 1;
    }

    .external-toggle-hidden[b-r6bg92lucv] {
        visibility: hidden;
    }

    .internal-toggle-hidden[b-r6bg92lucv] {
        visibility: hidden;
    }
    /* end Pluggable classes */
}
/* /Pages/HideAndSeek.razor.rz.scp.css */

/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.text-prompts-container[b-huled98q4w] {
    padding: 14px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts[b-huled98q4w] {
    height: calc(var(--content-height) - 266px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.game-progress[b-huled98q4w] {
    background-color: rgba(0,0,0,0.6);
    color: #eee;
    border-radius: 8px;
    position: sticky;
    top: 0px;
    font-size: 1rem;
    padding: 4px 10px;
    margin: 8px 8px 14px 8px;
    text-align: center;
}

.controls[b-huled98q4w] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop[b-huled98q4w] {
    background-color: rgba(54, 20, 70, 0.9);
    padding: 10px 10px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
}

.save-load[b-huled98q4w] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
}

    .save-load > *[b-huled98q4w] {
        margin: 5px 2px;
    }

.input-saveload-container[b-huled98q4w] {
    width: 300px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directions-container[b-huled98q4w] {
    padding: 0px 10px;
}

.noncompass-directions-container[b-huled98q4w] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.directions-row[b-huled98q4w] {
    display: flex;
    justify-content: center;
    width: 100%;
}

.direction[b-huled98q4w] {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.button-inactive[b-huled98q4w] {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.2);
}

.button-selectable[b-huled98q4w] {
    background-color: lightgrey;
    color: #111;
    cursor: pointer;
}

.search-button[b-huled98q4w] {
    background-color: #28a745;
    color: #eee;
    cursor: pointer;
}
.short-input[b-huled98q4w] {
    max-height: 30px;
}

@media (min-width: 78vh) {
    .text-prompts-container[b-huled98q4w] {
        padding-right: 60px;
        padding-left: 60px;
    }

    .text-prompts[b-huled98q4w] {
        height: calc(var(--content-height) - 226px);
    }
}

@media (min-width: 1200px) {
    .text-prompts-container[b-huled98q4w] {
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container[b-huled98q4w] {
        padding-right: 220px;
        padding-left: 220px;
    }
}
/* /Pages/Index.razor.rz.scp.css */
.toggle-all-sections-container[b-oiel5bdph5] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    right: 6px;
    bottom: calc(var(--footer-height) + 6px);
    margin-bottom: 50px;
}

.toggle-all-sections[b-oiel5bdph5] {
    width: 62px;
    height: 62px;
    background-color: navy;
    color: #eee;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,.0.4) 10px 10px inset;
    font-size: 1.5rem;
}

    .toggle-all-sections:hover[b-oiel5bdph5] {
        cursor: pointer;
    }

.sub-page-container[b-oiel5bdph5] {
    background-color: rgba(128, 139, 150, 0.65);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 6px 6px 6px;
    text-align: left;
}

.sections-container[b-oiel5bdph5] {
    width: 100%;
    max-width: 1100px;
    min-height: calc(calc(var(--content-height) + var(--footer-height)) - 14px);
}

.section-container[b-oiel5bdph5] {
    width: 100%;
    padding-bottom: 6px;
}

.section-header[b-oiel5bdph5] {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(54, 20, 70, 1);
    color: #eee;
    width: 100%;
    height: 45px;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 7px 0 rgba(0, 0, 0, 0.02);
}

    .section-header > i[b-oiel5bdph5] {
        font-size: 0.8rem;
    }

.section-content[b-oiel5bdph5] {
    background-color: #eee;
    width: 100%;
    transition: height 0.2s;
    border-radius: 0px 0px 6px 6px;
    padding: 18px;
}

.section-content-title[b-oiel5bdph5] {
    text-align: center;
    padding: 12px 0px;
}
/* start Pluggable classes */
.collapsed-header[b-oiel5bdph5] {
    border-radius: 6px;
}

.collapsed-content[b-oiel5bdph5] {
    display: none;
}

/* end Pluggable classes */

@media (min-width: 78vh) {
    .sub-page-container[b-oiel5bdph5] {
        height: auto;
        min-height: 100%;
    }
    .toggle-all-sections-container[b-oiel5bdph5] {
        justify-content: start;
    }
    .toggle-all-sections[b-oiel5bdph5] {
        bottom: 6px;
    }
    .toggle-all-sections-container[b-oiel5bdph5] {
        bottom: 6px;
    }
}

@media (min-width: 1008px) {
    .sub-page-container[b-oiel5bdph5] {
        background-color: rgba(128, 139, 150, 0.45);
    }
    .toggle-all-sections[b-oiel5bdph5] {
        width: 50px;
        height: 50px;
        border-radius: 14px;
    }
    .section-header[b-oiel5bdph5] {
        height: 35px;
    }
}
/* /Pages/Invent.razor.rz.scp.css */
.toggle-all-sections-container[b-ec2crac19g] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    right: 6px;
    bottom: calc(var(--footer-height) + 6px);
    margin-bottom: 50px;
}

.toggle-all-sections[b-ec2crac19g] {
    width: 62px;
    height: 62px;
    background-color: navy;
    color: #eee;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,.0.4) 10px 10px inset;
    font-size: 1.5rem;
}

    .toggle-all-sections:hover[b-ec2crac19g] {
        cursor: pointer;
    }

.sub-page-container[b-ec2crac19g] {
    background-color: rgba(128, 139, 150, 0.65);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 6px 6px 6px;
    text-align: left;
}

.sections-container[b-ec2crac19g] {
    width: 100%;
    max-width: 1100px;
    min-height: calc(calc(var(--content-height) + var(--footer-height)) - 14px);
}

.section-container[b-ec2crac19g] {
    width: 100%;
    padding-bottom: 6px;
}

.section-header[b-ec2crac19g] {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(54, 20, 70, 1);
    color: #eee;
    width: 100%;
    height: 45px;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 7px 0 rgba(0, 0, 0, 0.02);
}

    .section-header > i[b-ec2crac19g] {
        font-size: 0.8rem;
    }

.section-content[b-ec2crac19g] {
    background-color: #eee;
    width: 100%;
    transition: height 0.2s;
    border-radius: 0px 0px 6px 6px;
    padding: 18px;
}

    .section-content > h2[b-ec2crac19g] {
        text-align: center;
    }

/* start Pluggable classes */

.collapsed-header[b-ec2crac19g] {
    border-radius: 6px;
}

.collapsed-content[b-ec2crac19g] {
    display: none;
}

/* end Pluggable classes */

@media (min-width: 78vh) {
    .sub-page-container[b-ec2crac19g] {
        height: auto;
        min-height: 100%;
    }

    .toggle-all-sections-container[b-ec2crac19g] {
        justify-content: start;
    }

    .toggle-all-sections[b-ec2crac19g] {
        bottom: 6px;
    }

    .toggle-all-sections-container[b-ec2crac19g] {
        bottom: 6px;
    }
}

@media (min-width: 1008px) {
    .sub-page-container[b-ec2crac19g] {
        background-color: rgba(128, 139, 150, 0.45);
    }

    .toggle-all-sections[b-ec2crac19g] {
        width: 50px;
        height: 50px;
        border-radius: 14px;
    }

    .section-header[b-ec2crac19g] {
        height: 35px;
    }
}
/* /Pages/KnowHow.razor.rz.scp.css */
.toggle-all-sections-container[b-5cko639osi] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    right: 6px;
    bottom: calc(var(--footer-height) + 6px);
    margin-bottom: 50px;
}

.toggle-all-sections[b-5cko639osi] {
    width: 62px;
    height: 62px;
    background-color: navy;
    color: #eee;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,.0.4) 10px 10px inset;
    font-size: 1.5rem;
}

    .toggle-all-sections:hover[b-5cko639osi] {
        cursor: pointer;
    }

.sub-page-container[b-5cko639osi] {
    background-color: rgba(128, 139, 150, 0.65);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 6px 6px 6px;
    text-align: left;
}

.sections-container[b-5cko639osi] {
    width: 100%;
    max-width: 1100px;
    min-height: calc(calc(var(--content-height) + var(--footer-height)) - 14px);
}

.section-container[b-5cko639osi] {
    width: 100%;
    padding-bottom: 6px;
}

.section-header[b-5cko639osi] {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(54, 20, 70, 1);
    color: #eee;
    width: 100%;
    height: 45px;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 7px 0 rgba(0, 0, 0, 0.02);
}

    .section-header > i[b-5cko639osi] {
        font-size: 0.8rem;
    }

.section-content[b-5cko639osi] {
    background-color: #eee;
    width: 100%;
    transition: height 0.2s;
    border-radius: 0px 0px 6px 6px;
    padding: 18px;
}

    .section-content > h2[b-5cko639osi] {
        text-align: center;
    }

/* start Pluggable classes */

.collapsed-header[b-5cko639osi] {
    border-radius: 6px;
}

.collapsed-content[b-5cko639osi] {
    display: none;
}

/* end Pluggable classes */

@media (min-width: 78vh) {
    .sub-page-container[b-5cko639osi] {
        height: auto;
        min-height: 100%;
    }

    .toggle-all-sections-container[b-5cko639osi] {
        justify-content: start;
    }

    .toggle-all-sections[b-5cko639osi] {
        bottom: 6px;
    }

    .toggle-all-sections-container[b-5cko639osi] {
        bottom: 6px;
    }
}

@media (min-width: 1008px) {
    .sub-page-container[b-5cko639osi] {
        background-color: rgba(128, 139, 150, 0.45);
    }

    .toggle-all-sections[b-5cko639osi] {
        width: 50px;
        height: 50px;
        border-radius: 14px;
    }

    .section-header[b-5cko639osi] {
        height: 35px;
    }
}
/* /Pages/LoadingSpinners.razor.rz.scp.css */
.spinner-container[b-jbnftievc7] {
    justify-content: center;
    align-content: center;
    height: calc(var(--content-height) - 18px);
    font-size: 3.5em;
}

.loader1[b-jbnftievc7] {
    margin: auto;
    border: 6px solid lightgrey;
    border-radius: 50%;
    border-top: 6px solid blue;
    width: 70px;
    height: 70px;
    animation: spinner-b-jbnftievc7 1.3s ease infinite;
}
.loader2[b-jbnftievc7] {
    margin: auto;
    border: 6px solid lightgrey;
    /*border-radius: 50%;*/ /* compare this class with .loader1 - notice anything? */
    border-top: 6px solid red;
    width: 80px;
    height: 80px;
    animation: anti-spinner-b-jbnftievc7 3s linear infinite;
}

.loader3[b-jbnftievc7] {
    margin: auto;
    border: 14px solid green;
    border-radius: 50%;
    border-top: 10px solid green;
    border-right: 10px solid red;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;
    width: 80px;
    height: 80px;
    animation: spinner-b-jbnftievc7 1s linear infinite;
}
.loader4[b-jbnftievc7] {
    margin: auto;
    border: 30px solid pink;
    border-radius: 50%;
    border-top: 10px solid pink;
    border-bottom: 10px solid pink;
    width: 80px;
    height: 120px;
    animation: anti-spinner-b-jbnftievc7 4s ease-in-out infinite;
}
.flipper1[b-jbnftievc7] {
    margin: auto;
    border: 14px solid green;
    border-radius: 50%;
    border-top: 10px solid brown;
    border-right: 10px solid hotpink;
    border-bottom: 10px solid purple;
    border-left: 10px solid orange;
    outline: 5px solid aquamarine;
    width: 80px;
    height: 80px;
    animation: flipper-b-jbnftievc7 5s ease-in-out infinite;
}

@keyframes spinner-b-jbnftievc7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes anti-spinner-b-jbnftievc7 {
    0% {
        transform: rotate(1125deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes flipper-b-jbnftievc7 {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotate(0deg);
    }
    33% {
        transform: rotateY(360deg) rotateX(0deg) rotate(0deg);
    }
    67% {
        transform: rotateY(360deg) rotateX(360deg) rotate(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg) rotate(720deg);
    }
}


/* /Pages/MatchGame.razor.rz.scp.css */

.table-container[b-cliwmzypxj] {
    padding-top: 40px;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table1[b-cliwmzypxj] {
    width: 100%;
    max-width: 80vh;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .table1 > tbody[b-cliwmzypxj] {
        width: 100%;
        height: 100%;
    }

tr[b-cliwmzypxj] {
    display: flex;
    width: 100%;
    height: 20%;
    flex: 1;
}

td[b-cliwmzypxj] {
    display: flex;
    margin: 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #eee;
    flex: 1;
    font-size: 3.4rem;
}

.emoji-td[b-cliwmzypxj] {
    position: relative;
}

.animal-emoji[b-cliwmzypxj] {
    visibility: hidden;
}

.emoji-button[b-cliwmzypxj] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.text-row[b-cliwmzypxj] {
    font-size: 1.73rem;
    visibility: visible;
}

.new-game[b-cliwmzypxj] {
    background-color: green;
    padding: 7px 14px 7px 14px;
    border-radius: 10px;
}

.new-game:hover[b-cliwmzypxj] {
    cursor: pointer;
}

/* start Pluggable classes */
.block-showing[b-cliwmzypxj] {
    visibility: visible;
}
/* end Pluggable classes */

@media (min-width: 78vh) {
    .text-row[b-cliwmzypxj] {
        font-size: 2.5rem;
    }
    .table1[b-cliwmzypxj] {
        height: 100%;
    }
    td[b-cliwmzypxj] {
        font-size: 4rem;
    }
}

@media (min-width: 1008px) {
    .table-container[b-cliwmzypxj] {
        padding-top: 0px;
        height: 100%;
    }
    td[b-cliwmzypxj] {
        font-size: 4.7rem;
    }
}
/* /Pages/PageContainer.razor.rz.scp.css */
.page-container[b-fddm30vvql] {
    padding: 10px;
    height: 100%;
}
/* /Pages/UnderConstruction.razor.rz.scp.css */

.construction-container[b-gjsk2lehkp] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    color: #eee;
    text-align: center;
    /*border-radius: 12px;*/
}

.construction[b-gjsk2lehkp] {
    width: 50%;
}
/* /Shared/AppAnimations.razor.rz.scp.css */

.layout-control-item[b-7hzgm0yr8p] {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Shared/ClosedStageCurtain.razor.rz.scp.css */
.larger-than-mobile[b-uquen1h5a4] {
    background-color: var(--app-background-color);
    width: 100vw;
    height: 100vh;
    z-index: 60;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.ltm-section[b-uquen1h5a4] {
    padding: 8px;
}

.larger-than-mobile-image[b-uquen1h5a4] {
    width: auto;
    height: 50vh;
    border-radius: 35px;
    padding: 20px;
}

@media (min-width: 78vh) {

    .larger-than-mobile[b-uquen1h5a4] {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* /Shared/CollapsingSection.razor.rz.scp.css */
.collapsible-section-header[b-8okg0dgetx] {
    z-index: 10;
    color: #eee;
    height: 3rem;
    padding-left: 16px;
    padding-right: 0.25rem;
    display: flex;
    flex: 1;
    align-items: center;
}

    .collapsible-section-header:hover[b-8okg0dgetx] {
        background-color: rgba(255,255,255,0.1);
        border-radius: 12px;
    }

    .chevron-container[b-8okg0dgetx] {
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }

.icon[b-8okg0dgetx] {
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}
/* /Shared/MainLayout.razor.rz.scp.css */

/* start Mobile view */

.page-container[b-gzb0l1unjh] {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.page[b-gzb0l1unjh] {
    background-color: #222;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.behind-panel[b-gzb0l1unjh] {
    height: var(--app-container-height);
    z-index: 20;
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* start Plugable statuses */

.button-on-show-behind-panel[b-gzb0l1unjh] {
    display: block;
    background-color: rgba(0,0,60,0.06);
    transition: background-color 0.2s;
}

.content-blur[b-gzb0l1unjh] {
    filter: blur(2.5px);
}

.animate-app[b-gzb0l1unjh] {
    display: none;
}

.layout-controls-on[b-gzb0l1unjh] {
    background-color: var(--app-background-color);
    color: var(--app-color);
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: calc(100% - calc(var(--top-bar-height) + var(--footer-height)));
    width: 100%;
    top: var(--top-bar-height);
}

/* end Plugable statuses */

.continuous-animate-stop[b-gzb0l1unjh] {
    background-color: darkblue;
    color: #eee;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    z-index: 50;
    width: 140px;
    height: 75px;
    left: calc(calc(100vw / 2) - 70px);
    bottom: calc(100vh * 0.05);
}

.discontinue-button-on[b-gzb0l1unjh] {
    display: flex;
}

.header[b-gzb0l1unjh] {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
    background-color: rgba(0,0,0,0.4);
    height: var(--top-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

    .header a[b-gzb0l1unjh] {
        color: #eee;
    }

.navbar-brand > i[b-gzb0l1unjh] { color: #eee; }
.title-size-four[b-gzb0l1unjh] { display: none; }
.title-size-three[b-gzb0l1unjh] { display: none; }
.title-size-largest[b-gzb0l1unjh] { display: none; }
.title-size-one[b-gzb0l1unjh] { display: none; }
.navbar-brand-onhover[b-gzb0l1unjh] { display: none; font-size: 1.08rem; }

.top-row[b-gzb0l1unjh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: var(--top-bar-height);
    display: none;
    align-items: center;
}

    .top-row[b-gzb0l1unjh]  a, .top-row[b-gzb0l1unjh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gzb0l1unjh]  a:hover, .top-row[b-gzb0l1unjh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gzb0l1unjh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.main[b-gzb0l1unjh] {
    width: var(--app-container-width);
    height: var(--app-container-height-percent);
    background-color: var(--app-background-color);
    position: relative;
}

/* start Pluggable clases */
.main1[b-gzb0l1unjh] { animation: main1a-b-gzb0l1unjh 7s ease-in-out; }
.main1-infinite[b-gzb0l1unjh] { animation: main1a-b-gzb0l1unjh 7s ease-in-out infinite; }
.main2[b-gzb0l1unjh] { animation: main2a-b-gzb0l1unjh 10s ease-in-out; }
.main2-infinite[b-gzb0l1unjh] { animation: main2a-b-gzb0l1unjh 10s ease-in-out infinite; }
.main3[b-gzb0l1unjh] { animation: main3a-b-gzb0l1unjh 7s ease-in-out; }
.main3-infinite[b-gzb0l1unjh] { animation: main3a-b-gzb0l1unjh 7s ease-in-out infinite; }
.main4[b-gzb0l1unjh] { animation: main4a-b-gzb0l1unjh 7s ease-in-out; }
.main4-infinite[b-gzb0l1unjh] { animation: main4a-b-gzb0l1unjh 7s ease-in-out infinite; }
.main5[b-gzb0l1unjh] { animation: main5a-b-gzb0l1unjh 7s linear; }
.main5-infinite[b-gzb0l1unjh] { animation: main5a-b-gzb0l1unjh 7s linear infinite; }
.main6[b-gzb0l1unjh] { animation: main6a-b-gzb0l1unjh 0.4s ease-in-out forwards; }
.main7[b-gzb0l1unjh] { animation: main7a-b-gzb0l1unjh 0.4s ease-in-out forwards; }
.main8[b-gzb0l1unjh] { animation: main8a-b-gzb0l1unjh 0.4s ease-in-out forwards; }
.main9[b-gzb0l1unjh] { animation: main9a-b-gzb0l1unjh 0.4s ease-in-out forwards; }
.main10-infinite[b-gzb0l1unjh] { animation: main10b-b-gzb0l1unjh 30s linear infinite; }
.main11[b-gzb0l1unjh] { animation: main11a-b-gzb0l1unjh 0.7s ease-in-out forwards; }
/* end Pluggable clases */

.content[b-gzb0l1unjh] {
    color: var(--app-color);
    position: absolute;
    height: calc(100% - var(--top-bar-height));
    width: 100%;
    overflow-y: auto;
    transition: filter 0.35s;
}

.left-negative-space[b-gzb0l1unjh] {
    display: none;
}

.right-negative-space[b-gzb0l1unjh] {
    display: none;
}

.behind-panel[b-gzb0l1unjh] {
    width: 100%;
    height: 100%;
    position: absolute;
}

.anim-icon[b-gzb0l1unjh] {
    background-color: rgba(255,255,255,0.25);
    color: #eee;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    z-index: 30;
    top: calc(calc(var(--top-bar-height) - 40px) / 2);
    right: 10px;
}
    .anim-icon:hover[b-gzb0l1unjh] {
        cursor: pointer;
    }

.anim-controls[b-gzb0l1unjh] {
    background-color: rgb(19, 20, 29);
    color: #eee;
    width: 250px;
    display: none;
    position: absolute;
    top: calc(var(--top-bar-height) - 6px);
    right: 5px;
    z-index: 30;
    overflow-y: auto;
    max-height: 55vh;
    border-radius: 12px;
    padding-bottom: 6px;
}

    .anim-controls > h4[b-gzb0l1unjh] {
        position: sticky;
        top: 0px;
        background-color: rgb(19, 20, 29);
        padding: 10px 0px;
        margin: 0;
    }
/* start Pluggable */
.anim-display[b-gzb0l1unjh] {
    display: block; /* later, change this to an animated appearance */
}
/* end Pluggable */

.anim-pair[b-gzb0l1unjh] {
    display: flex;
    padding: 0px 6px 6px 6px;
}
.anim-regular[b-gzb0l1unjh] {
    background-color: #0265c8;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    margin-right: 4px;
    border-radius: 8px;
}
    .anim-regular:hover[b-gzb0l1unjh] {
        cursor: pointer;
    }

.anim-continuous[b-gzb0l1unjh] {
    background-color: rgba(255,255,255,0.25);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 8px;
}
    .anim-continuous:hover[b-gzb0l1unjh] {
        cursor: pointer;
    }
/* Part of Option2 */
/*
@media (min-width: 78vh) {
   
    .main {
        height: var(--app-container-height);
    }

    /* start Pluggable clases 
.main1 { animation: main1b 7s ease-in-out; }
.main1-infinite { animation: main1b 7s ease-in-out infinite; }
.main2 { animation: main2b 10s ease-in-out; }
.main2-infinite { animation: main2b 10s ease-in-out infinite; }
.main3 { animation: main3b 7s ease-in-out; }
.main3-infinite { animation: main3b 7s ease-in-out infinite; }
.main4 { animation: main4b 7s ease-in-out; }
.main4-infinite { animation: main4b 7s ease-in-out infinite; }
.main5 { animation: main5b 7s linear; }
.main5-infinite { animation: main5b 7s linear infinite; }
/* end Pluggable clases 

    .external-layout-controls {
        display: block;
    }
}
/* Part of Option2 
@media (min-width: 1008px), (min-width: 110vh) {

    .left-negative-space {
        display: block;
        flex: 1;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .left-negative-space > p {
            margin: 0px 5vw;
            font-size: 1.1rem;
        }

    .right-negative-space {
        display: block;
        flex: 1;
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qr-code-image {
        width: auto;
        height: 25vw;
        border-radius: 35px;
        padding: 20px;
    }
}*/
/* Part of Option3 */
@media (min-width: 78vh) {
    .main[b-gzb0l1unjh] {
        width: 100%;
    }

    .content[b-gzb0l1unjh] {
        height: calc(100% - var(--top-bar-height));
    }

    .layout-controls-on[b-gzb0l1unjh] {
        height: calc(100% - calc(var(--top-bar-height)));
    }
}

/* Part of Option3 */
/*
@media (min-width: 1008px) {

    .main {
        width: var(--app-container-width);
    }

    .external-layout-controls {
        display: block;
    }

    /* start Pluggable clases
    .main1 { animation: main1b 7s ease-in-out; }
    .main1-infinite { animation: main1b 7s ease-in-out infinite; }
    .main2 { animation: main2b 10s ease-in-out; }
    .main2-infinite { animation: main2b 10s ease-in-out infinite; }
    .main3 { animation: main3b 7s ease-in-out; }
    .main3-infinite { animation: main3b 7s ease-in-out infinite; }
    .main4 { animation: main4b 7s ease-in-out; }
    .main4-infinite { animation: main4b 7s ease-in-out infinite; }
    .main5 { animation: main5b 7s linear; }
    .main5-infinite { animation: main5b 7s linear infinite; }
    /* end Pluggable clases

    .left-negative-space {
        display: block;
        flex: 1;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .left-negative-space > p {
            margin: 0px 5vw;
            font-size: 1.1rem;
        }

    .right-negative-space {
        display: block;
        flex: 1;
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qr-code-image {
        width: auto;
        height: 25vw;
        border-radius: 35px;
        padding: 20px;
    }
}
*/

/* Part of Option4 */
@media (min-width: 1008px) {
    .main[b-gzb0l1unjh] {
        height: 100%;
    }
    .header[b-gzb0l1unjh] {
        padding: 0px 14px;
        display: flex;
        justify-content: flex-start;
    }

    .title-size-two[b-gzb0l1unjh] { display: none; }
    .title-size-one[b-gzb0l1unjh] { display: block; }
    .navbar-brand:hover > .navbar-brand-icon-one[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .title-size-one[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .navbar-brand-onhover[b-gzb0l1unjh] {
        display: block;
        width: 179px;
    }
    .navbar-brand[b-gzb0l1unjh] {
        padding: 14px;
        height: calc(var(--top-bar-height) - 16px);
        display: flex;
        align-items: center;
    }
    .navbar-brand:hover[b-gzb0l1unjh] {
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 8px;
    }
}

@media (min-width: 100vh){
    .main8[b-gzb0l1unjh] { animation: main8b-b-gzb0l1unjh 0.4s ease-in-out forwards; }
    .main9[b-gzb0l1unjh] { animation: main9b-b-gzb0l1unjh 0.4s ease-in-out forwards; }
}

@media (min-width: 1100px) {
    .title-size-one[b-gzb0l1unjh] { display: none; }
    .title-size-two[b-gzb0l1unjh] { display: block; }
    .navbar-brand:hover > .title-size-two[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .navbar-brand-onhover[b-gzb0l1unjh] { width: 219px; }
}
@media (min-width: 1200px) {
    .title-size-two[b-gzb0l1unjh] { display: none; }
    .title-size-three[b-gzb0l1unjh] { display: block; }
    .navbar-brand:hover > .title-size-three[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .navbar-brand-onhover[b-gzb0l1unjh] { width: 276px; }
}
@media (min-width: 1300px) {
    .title-size-three[b-gzb0l1unjh] { display: none; }
    .title-size-four[b-gzb0l1unjh] { display: block; }
    .navbar-brand:hover > .title-size-four[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .navbar-brand-onhover[b-gzb0l1unjh] { width: 297px; }
}
@media (min-width: 1400px) {
    .title-size-four[b-gzb0l1unjh] { display: none; }
    .title-size-largest[b-gzb0l1unjh] { display: block; }
    .navbar-brand:hover > .title-size-largest[b-gzb0l1unjh] { display: none; }
    .navbar-brand:hover > .navbar-brand-onhover[b-gzb0l1unjh] { width: 352px; }
}

/* start Animations keyframes */
/* animation: main1 7s ease-in-out infinite; */
@keyframes main1a-b-gzb0l1unjh {
    0% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }
    12.5% {
        height: calc(100% * 0.4);
        width: calc(100% * 0.4);
    }
    25% {
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
    }
    37.5% {
        height: calc(100% * 0.4);
        width: calc(100% * 0.4);
    }
    50% {
        height: 100%;
        width: 100%;
        transform: rotate(360deg);
    }
    62.5% {
        height: calc(100% * 0.4);
        width: calc(100% * 0.4);
    }

    75% {
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
    }

    87.5% {
        height: calc(100% * 0.4);
        width: calc(100% * 0.4);
    }

    100% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes main1b-b-gzb0l1unjh {
    0% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }

    12.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    25% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(180deg);
    }

    37.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    50% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(360deg);
    }

    62.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    75% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(180deg);
    }

    87.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    100% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }
}

/* animation: main2 10s ease-in-out infinite; */
@keyframes main2a-b-gzb0l1unjh {
    0% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }

    12.5% {
        height: 40%;
        width: 40%;
    }

    25% {
        height: 100%;
        width: 100%;
    }

    37.5% {
        height: 40%;
        width: 40%;
    }

    50% {
        height: 100%;
        width: 100%;
        transform: rotate(360deg);
    }

    62.5% {
        height: 40%;
        width: 40%;
    }

    75% {
        height: 100%;
        width: 100%;
    }

    87.5% {
        height: 40%;
        width: 40%;
    }

    100% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes main2b-b-gzb0l1unjh {
    0% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }

    12.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    25% {
        height: var(--app-container-height);
        width: var(--app-container-width);
    }

    37.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    50% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(360deg);
    }

    62.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    75% {
        height: calc(var(--app-container-height));
        width: calc(var(--app-container-width));
    }

    87.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    100% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }
}

/* animation: main3 7s ease-in-out infinite; */
@keyframes main3a-b-gzb0l1unjh {
    0% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }

    20% {
        height: 40%;
        width: 40%;
    }

    40% {
        height: 100%;
        width: 100%;
        transform: rotate(360deg);
    }

    50% {
        height: 100%;
        width: 100%;
        transform: rotate(360deg);
    }

    75% {
        height: 40%;
        width: 40%;
    }

    90% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }

    100% {
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes main3b-b-gzb0l1unjh {
    0% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }

    20% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    40% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(360deg);
    }

    50% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(360deg);
    }

    75% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    90% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }

    100% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }
}

/* animation: main4 7s ease-in-out infinite; */
@keyframes main4a-b-gzb0l1unjh {
    0% {
        height: 100%;
        width: 100%;
    }
    5% {
        height: 60%;
        width: 60%;
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    33% {
        transform: rotateX(360deg) rotateY(0deg) rotate(0deg);
    }

    67% {
        transform: rotateX(360deg) rotateY(360deg) rotate(0deg);
    }

    95% {
        height: 60%;
        width: 60%;
        transform: rotateX(360deg) rotateY(360deg) rotate(720deg);
    }

    100% {
        height: 100%;
        width: 100%;
        transform: rotateX(360deg) rotateY(360deg) rotate(720deg);
    }
}

@keyframes main4b-b-gzb0l1unjh {
    0% {
        height: var(--app-container-height);
        width: var(--app-container-width);
    }

    5% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    33% {
        transform: rotateX(360deg) rotateY(0deg) rotate(0deg);
    }

    67% {
        transform: rotateX(360deg) rotateY(360deg) rotate(0deg);
    }

    95% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(360deg) rotateY(360deg) rotate(720deg);
    }

    100% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotateX(360deg) rotateY(360deg) rotate(720deg);
    }
}


/* animation: main5 7s linear infinite; */
@keyframes main5a-b-gzb0l1unjh {
    0% {
        height: 60%;
        width: 60%;
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        height: 60%;
        width: 60%;
        transform: rotateX(360deg) rotateY(360deg) rotate(7200deg);
    }
}

@keyframes main5b-b-gzb0l1unjh {
    0% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(360deg) rotateY(360deg) rotate(7200deg);
    }
}

/* .main6 { animation: main6a 0.4s ease-in-out forwards; } */
@keyframes main6a-b-gzb0l1unjh { 100% { transform: rotateY(180deg); } }
/* .main7 { animation: main7a 0.4s ease-in-out forwards; } */
@keyframes main7a-b-gzb0l1unjh { 100% { transform: rotateX(180deg); } }
/* .main8 { animation: main8a 0.4s ease-in-out forwards; } */
@keyframes main8a-b-gzb0l1unjh {
    100% {
        transform: rotateZ(90deg);
        height: 100vw;
    }
}
/* .main8 { animation: main8b 0.4s ease-in-out forwards; } */
@keyframes main8b-b-gzb0l1unjh {
    100% {
        transform: rotateZ(90deg);
        width: 100vh;
    }
}
/* .main9 { animation: main9a 0.4s ease-in-out forwards; } */
@keyframes main9a-b-gzb0l1unjh {
    0% { transform: rotateZ(360deg); }
    100% {
        transform: rotateZ(270deg);
        height: 100vw;
    }
}
/* .main9 { animation: main9b 0.4s ease-in-out forwards; } */
@keyframes main9b-b-gzb0l1unjh {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(270deg);
        width: 100vh;
    }
}
/* .main10 { animation: main10a 30s linear infinite; } */
@keyframes main10b-b-gzb0l1unjh { 100% { transform: rotateZ(360deg); } }
/*.main11 { animation: main11a 0.7s ease-in-out forwards; }*/
@keyframes main11a-b-gzb0l1unjh { 100% { transform: rotateZ(180deg); } }
/* end Animations keyframes */
/* /Shared/NavButtons.razor.rz.scp.css */
.container-one[b-dz8gio2ut8] {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    z-index: 40;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 4px); /* 4px == .bottom-row.style.margin */
}

.container-two[b-dz8gio2ut8] {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button[b-dz8gio2ut8] {
    color: #eee;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.icon[b-dz8gio2ut8] {
    color: #eee;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.button-label[b-dz8gio2ut8] {
    display: none;
}

/* start Plugable statuses */

.highlight-button[b-dz8gio2ut8] {
    background-color: rgba(255,255,255,0.25);
}

/*
.suppress-button-highlight ::deep a.active {
    background-color: rgba(255,255,255,0.0);
}*/

/* end Plugable statuses */
/* Part of Option 3 */
@media (min-width: 78vh) {
    .container-one[b-dz8gio2ut8] {
        bottom: calc(calc(4px + calc(var(--panel-height) * 0.5)) - calc(calc(var(--top-bar-height) - 6px) * 2.5));
        right: 0px;
        left: auto;
        height: calc(calc(var(--top-bar-height) - 6px) * 5);
        width: calc(var(--top-bar-height) - 16px);
        display: flex;
        flex-direction: column;
    }
    .container-two[b-dz8gio2ut8] {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
    }
    .nav-button[b-dz8gio2ut8] {
        flex: 1;
        width: calc(var(--top-bar-height) - 24px);
    }
}

@media (min-width: 1008px) {
    .container-one[b-dz8gio2ut8] {
        background-color: rgba(0,0,0,0);
        padding: 1.5px;
        bottom: auto;
        right: auto;
        left: calc(50% - 290px);
        display: block;
        height: auto;
        width: 580px;
    }

    .container-two[b-dz8gio2ut8] {
        flex-direction: row;
    }
    .nav-button[b-dz8gio2ut8] {
        background-color: rgba(0,0,0,0);
        width: auto;
        margin: 1px;
    }
        .nav-button:hover[b-dz8gio2ut8] {
            background-color: rgba(255, 255, 255, 0.25);
            justify-content: center;
            align-items: center;
        }

    .nav-button[b-dz8gio2ut8] {
        justify-content: center;
        cursor: pointer;
    }

    .button-label[b-dz8gio2ut8] {
        display: block;
        margin-left: 7px;
        font-size: 0.88rem;
        padding-top: 2px;
    }

    /* start Plugable statuses */

    .highlight-button[b-dz8gio2ut8] {
        background-color: rgba(255,255,255,0.25);
    }

    /* end Plugable statuses */
}
/* /Shared/NavPanelContainer.razor.rz.scp.css */
.panel-container[b-zgtipjgn14] {
    width: var(--panel-container-width);
    padding: 4px;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: var(--footer-height);
    transition: visibility 0.2s, opacity 0.2s;
}

.panel[b-zgtipjgn14] {
    border-radius: 12px;
    background-color: rgb(19, 20, 29);
    padding-top: 0.6rem;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
}

.panel-position-b[b-zgtipjgn14] {
    left: calc(calc(100% - 12px) / 5);
}

.panel-position-c[b-zgtipjgn14] {
    left: calc(calc(calc(100% - 12px) / 2) - calc(var(--panel-container-width) / 2));
}

.panel-position-d[b-zgtipjgn14] {
    left: auto;
    right: calc(calc(100% - 12px) / 5);
}

.panel-position-e[b-zgtipjgn14] {
    left: auto;
    right: 0px;
}

/* start Plugable statuses */

.panel-visible[b-zgtipjgn14] {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

/* end Plugable statuses */

/* Part of Option 3 */
@media (min-width: 78vh) {
    .panel-container[b-zgtipjgn14] {
        width: 340px;
        left: auto;
        right: 44px;
        bottom: 4px;
    }

    .panel[b-zgtipjgn14] {
        flex-direction: column;
        padding: 4px 4px 0.6rem 4px;
    }

    .panel-position-b[b-zgtipjgn14] {
        left: auto;
    }

    .panel-position-c[b-zgtipjgn14] {
        left: auto;
    }
}

@media (min-width: 1008px) {
    .panel-container[b-zgtipjgn14] {
        width: 320px;
        right: auto;
        bottom: auto;
        top: var(--top-bar-height);
        left: calc(50% - 286px);
    }
    .panel-position-b[b-zgtipjgn14] {
        left: calc(50% - 172px);
    }

    .panel-position-c[b-zgtipjgn14] {
        left: calc(50% - 160px);
    }

    .panel-position-d[b-zgtipjgn14] {
        left: auto;
        right: calc(50% - 176px);
    }

    .panel-position-e[b-zgtipjgn14] {
        left: auto;
        right: calc(50% - 290px);
    }
}
/* /Shared/NavPanelNavLinkButton.razor.rz.scp.css */
.icon[b-benzuzyhwn] {
    color: #eee;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-benzuzyhwn] {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
}

.nav-item[b-benzuzyhwn] {
    font-size: 0.9rem;
    text-align: left;
}

    .nav-item[b-benzuzyhwn]  a {
        color: #eee;
        border-radius: 12px;
        min-height: 3rem;
        display: flex;
        align-items: center;
    }

        .nav-item[b-benzuzyhwn]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: #eee;
            border: 1px solid black;
        }

        .nav-item[b-benzuzyhwn]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #eee;
        }

    .nav-item[b-benzuzyhwn]  span {
        padding-right: 10px;
    }

    .nav-item[b-benzuzyhwn]  i {
        color: #eee;
    }

.panel-header[b-benzuzyhwn] {
    background-color: rgba(255,255,255,0.25);
    color: #eee;
    border-radius: 12px;
    border: 2px solid black;
}

    .panel-header[b-benzuzyhwn]  a {
        color: #eee;
        height: 3rem;
    }

        .panel-header[b-benzuzyhwn]  a.active {
            background-color: rgba(255,255,255,0.0);
        }

        .panel-header[b-benzuzyhwn]  a:hover {
            background-color: rgba(255,255,255,0.0);
        }
/* /Shared/NavPanels.razor.rz.scp.css */

/* start Mobile view */

.icon[b-6ox9c9i5sk] {
    color: #eee;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-6ox9c9i5sk] {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
}

.nav-item[b-6ox9c9i5sk] {
    font-size: 0.9rem;
}

    .nav-item[b-6ox9c9i5sk]  a {
        color: #eee;
        border-radius: 12px;
        height: 3rem;
        display: flex;
        align-items: center;
    }

        .nav-item[b-6ox9c9i5sk]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: #eee;
            border: 1px solid black;
        }

        .nav-item[b-6ox9c9i5sk]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #eee;
        }

    .nav-item[b-6ox9c9i5sk]  i {
        color: #eee;
    }

.panel-header[b-6ox9c9i5sk] {
    background-color: rgba(255,255,255,0.25);
    color: #eee;
    border-radius: 12px;
    border: 2px solid black;
}

    .panel-header[b-6ox9c9i5sk]  a {
        color: #eee;
    }

        .panel-header[b-6ox9c9i5sk]  a.active {
            background-color: rgba(255,255,255,0.0);
        }

        .panel-header[b-6ox9c9i5sk]  a:hover {
            background-color: rgba(255,255,255,0.0);
        }

.panel-scrollablesection[b-6ox9c9i5sk] {
    overflow-y: auto;
    max-height: calc(var(--panel-height) - 68px - 0.5rem);
    border-radius: 12px;
    padding: 0px 0.4rem;
}

.collapsible-item[b-6ox9c9i5sk] {
    margin-left: 28px;
    padding-left: 0.4rem;
    border-left: 4px solid grey;
}

/* start Plugable statuses */

.panel-visible[b-6ox9c9i5sk] {
    display: block;
    position: fixed;
    transition: display 0.2s;
}

.layout-controls-on[b-6ox9c9i5sk] {
    background-color: var(--app-background-color);
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: calc(100% - calc(var(--top-bar-height) + var(--footer-height)));
    width: 100%;
    top: var(--top-bar-height);
    z-index: 10;
}

/* end Plugable statuses */

.layout-control-item[b-6ox9c9i5sk] {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Part of Option 2 */
/*
@media (min-width: 78vh) {

    .panel-scrollablesection {
        height: calc(100% - 52px);
    }
}
*/
