@*
@page "/articles"
*@

<PageTitle>Articles - Collyn Brenner</PageTitle>

<ArticlesPageTemplate>
    <div style="width: 100%; height: 100%; height: 100%;">This is the page</div>
    @* each article will have its own page; 
    this is the landing page for the articles section *@
</ArticlesPageTemplate>

@code { }
