
/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.positioning-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.game-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.game-container-items {
    display: flex;
    flex-direction: column;
    height: calc(100% - 46px);
}

    .game-container-items > .text-prompts-container, 
    .game-container-items > .text-prompts-container-v2, 
    .game-container-items > .text-prompts-container-v3 {
        flex: 1;
    }

.topmost-buttons {
    display: flex;
/*    justify-content: space-between;*/
    justify-content: center;
}

.version-buttons-container {
    margin-right: 6px;
}

.top-corner-button-containers {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    border-radius: 0.25rem;
    color: #eee;
}

    .top-corner-button-containers > a {
        text-decoration: none;
        color: #eee;
    }

    .top-corner-button-containers:hover {
        cursor: pointer;
    }

.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wpf-image {
    width: 100%;
    height: calc(var(--content-height) - 80px);
    display: flex;
    align-items: center;
}

    .wpf-image > img {
        width: 100%;
        height: auto;
    }

.text-prompts-container {
    padding: 14px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v2 {
    padding: 14px 0px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v3 {
    margin: 10px 0px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts {
    height: calc(var(--content-height) - 340px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.text-prompts-v2 {
    height: 100%;
    width: 100%;
    text-align: left;
}

.text-prompts-v3 {
    height: 100%;
    width: 100%;
    text-align: left;
}

.status-report {
    padding: 0px 70px 14px 70px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop {
    background-color: #111;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-v1 {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-backdrop-v2 {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-backdrop-v3 {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector-row {
    display: flex;
    justify-content: center;
}

.workertype-selector {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workertype-selector-v3 {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgba(255, 196, 0, 0.95);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-button {
    font-size: 1rem;
    background-color: rgba(0, 0, 128, 0.5);
    color: #777;
    margin: 4px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.report {
    background-color: lightgrey;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 8px;
}

.control-button-work {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v2 {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v3 {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.workertype-inactive {
}

.form-check-label {
}

.row-flex {
    display: flex;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
}

.row-flex-v3t {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
    font-size: 1.1rem;
}

.row-flex-v3 {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
    font-size: 1.1rem;
}

.field-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    line-height: 1.2;
}

.field-flex-v3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 0px 10px;
}

.field-flex-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex-arrow-v3 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex > * {
    text-align: center;
    padding-bottom: 4px;
}

.try-again {
    color: #eee;
    background-color: red;
    border-radius: 8px;
    padding: 4px 10px;
    width: 70%;
}

.rates-and-conversions {
    font-size: 0.9rem;
}

.vault-honey-nectar {
    display: flex;
    align-items: center;
}

.vault-amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trajectories-v3 {
    padding: 0px 8px;
}

.start-with-timer-on {
    color: #eee;
    background-color: darkblue;
    border-radius: 8px;
    padding: 4px 10px;
    width: 70%;
}

.behindpanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.settings-panel {
    position: absolute;
    top: 20px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    max-width: 520px;
    padding: 20px 20px 10px 20px;
    border-radius: 12px;
    z-index: 4;
    background-color: rgba(176, 240, 246, 0.85);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    border: 1px solid #777;
    display: flex;
    flex-direction: column;
}

.settings-scrollable-section {
    overflow-y: auto;
    /*max-height: calc(var(--content-height) - 210px);
    height: calc(var(--content-height) - 80px);*/
    flex: 1;
}

.settings-bottom-container {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 10px;
}

.settings-close {
    background-color: navy;
    width: 30%;
    height: 40px;
    color: #eee;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v4-text-prompts-container {
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.v4-text-prompts {
    height: 100%;
    width: 100%;
    text-align: left;
    max-width: 520px;
}

.v4-report-container {
    background-color: #bbb;
    padding: 3px;
    overflow-y: auto;
    height: calc(100vh - 310px);
    border-radius: 12px;
    border: solid 3px #bbb; 
}

.v4-report-header {
    padding-top: 6px;
}

.v4-report-header-vault {
    padding-top: 6px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}

.v4-detailed-title {
    padding: 0 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v4-details-pod {
    padding: 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.v4-controls-container {
    /*background-color: rgba(255, 196, 0, 0.95);*/
    margin-top: 6px;
    background-color: #111;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 8px;
}

.v4-controls-backdrop {
    background-color: none;
    width: 390px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.v4-worker-add-button {
    height: 70px;
    width: 94px;
    font-size: 1.2rem;
    background-color: rgba(255, 196, 0, 0.95);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.assign-buttons-active {
    background-color: rgba(0, 0, 128, 1);
    color: #eee;
}

/* start Pluggable classes */
/* (defaults being operated on:)
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
*/
.pm-panel-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

.pm-content-blurred {
    filter: blur(2.5px);
}

.pm-behindpanel-present {
    display: block;
    transition: background-color 0.2s;
    z-index: 3;
}

.pm-panelbutton-active {
    background-color: #111;
}

/* end Pluggable classes */

@media (min-width: 380px) {
    .field-flex-v3 {
        padding: 0px 16px;
    }
}

@media (min-width: 540px) {
    .settings-panel {
        left: calc(50% - 260px);
    }
}

@media (min-width: 78vh) {
    .game-container {
        max-width: 800px;
    }

    .game-container-items {
        /*height: calc(var(--content-height) + 20px);*/
    }

    .text-prompts-container {
        padding: 0px 40px;
    }

    .text-prompts-container-v2 {
        padding: 0px 40px;
    }

    .text-prompts-container-v3 {
        padding: 0px 40px;
    }

    .v4-report-container {
        height: calc(100vh - 264px);
    }
}

@media (min-width: 1008px) {

    .game-container-items {
        /*height: calc(var(--content-height) + 60px);*/
    }

    .text-prompts-container {
        padding: 0px 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container {
        padding-right: 220px;
        padding-left: 220px;
    }
}
