
/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.text-prompts-container {
    padding: 14px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v2 {
    padding: 14px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v3 {
    padding: 14px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts {
    height: calc(var(--content-height) - 340px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.text-prompts-v2 {
    height: calc(var(--content-height) - 300px);
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.text-prompts-v3 {
    height: calc(var(--content-height) - 300px);
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.status-report {
    padding: 0px 70px 14px 70px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop {
    background-color: #111;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-button {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
}

.controls-backdrop-v2 {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-backdrop-v3 {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector-row {
    display: flex;
    justify-content: center;
}

.workertype-selector {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workertype-selector-v3 {
    height: 40px;
    width: 270px;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-button {
    font-size: 1rem;
    background-color: rgba(0, 0, 128, 0.5);
    color: #777;
    margin: 4px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.assign-buttons-active {
    background-color: rgba(0, 0, 128, 1);
    color: #eee;
}

.report {
    background-color: lightgrey;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 8px;
}

.control-button-work {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v2 {
    height: 40px;
    width: 360px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v3 {
    height: 40px;
    width: 360px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.workertype-inactive {
    background-color: rgba(255, 176, 0, 0.5);
}

.row-flex {
    display: flex;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
}

.row-flex-v3 {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
}

.field-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    line-height: 1.2;
}

.field-flex-v3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex > * {
    text-align: center;
    padding-bottom: 4px;
}

.try-again {
    color: #eee;
    background-color: red;
    border-radius: 8px;
    padding: 4px 10px;
    width: 70%;
}

@media (min-width: 78vh) {
    .text-prompts-container {
        padding-right: 60px;
        padding-left: 60px;
    }

    .text-prompts {
        height: calc(var(--content-height) - 300px);
    }
}

@media (min-width: 1200px) {
    .text-prompts-container {
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container {
        padding-right: 220px;
        padding-left: 220px;
    }
}
