
/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.text-prompts-container {
    padding: 14px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts {
    height: calc(var(--content-height) - 340px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.status-report {
    padding: 0px 70px 14px 70px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop {
    background-color: #111;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-button {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
}

.controls-backdrop-v2 {
    background-color: #111;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workertype-selector {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
}

.add-button {
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
    height: calc(100% - 8px);
    width: auto;
}

.control-button-work {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v2 {
    height: 40px;
    width: 360px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

@media (min-width: 78vh) {
    .text-prompts-container {
        padding-right: 60px;
        padding-left: 60px;
    }

    .text-prompts {
        height: calc(var(--content-height) - 300px);
    }
}

@media (min-width: 1200px) {
    .text-prompts-container {
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container {
        padding-right: 220px;
        padding-left: 220px;
    }
}
