
<div class="nav-item" @onclick="UpdateNavFromRoute">
    <NavLink class="nav-link" href="@Href">
        @if (IconClasses != "")
        {
            <span class="icon @IconClasses" aria-hidden="true"></span>
        }
        @ButtonText
    </NavLink>
</div>

@code {
    [Parameter]
    public bool IsNavLink { get; set; } = true;
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string IconClasses { get; set; } = "fa-regular fa-circle";
    [Parameter]
    public string ButtonText { get; set; }
    [Parameter]
    public int Section { get; set; }
    [Parameter]
    public EventCallback<int> OnClickCallback { get; set; }
    private async Task UpdateNavFromRoute() =>
        await OnClickCallback.InvokeAsync(Section);
}
