.icon {
    color: #111;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink {
    border-left: 4px solid lightgrey;
    padding: 0px 16px 0px 36px;
    display: flex;
    flex: 1;
}

.nav-item {
    font-size: 0.97rem;
}

    .nav-item ::deep span {
        padding-right: 10px;
    }

    .nav-item ::deep a {
        padding-left: 30px;
        color: #111;
        display: flex;
        align-items: center;
    }

        .nav-item ::deep a.active {
            background-color: rgba(0,0, 0, 0.12);
        }

        .nav-item ::deep a:hover {
            background-color: rgba(0,0, 0, 0.18);
        }

    .nav-item ::deep i {
        color: #eee;
    }
