@page "/helloworld1"
@page "/helloworld2"
@page "/helloworld3"
@page "/firstitem1"
@page "/firstitem2"
@page "/firstitem3"
@page "/firstitem4"
@page "/firstitem5"
@page "/lastitem1"
@page "/lastitem2"
@page "/lastitem3"
@page "/lastitem4"
@page "/lastitem5"
@page "/blankitem"
@page "/fetchdata"

<PageTitle>Hello World! - MobileNav Template</PageTitle>

<h1>Hello, world!</h1>

Welcome to this app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TestVertScroll LineCount="80" />

@code { }
