@page "/helloworld"
@page "/fetchdata"

<PageTitle>Hello World! - MobileNav Template</PageTitle>

<h1>Hello, world!</h1>

Welcome to this app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TestVertScroll LineCount="80" />

@code { }
