@page "/invent"

<PageTitle>Invent - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-warehouse" HeaderText="Invent">
    <DrawerContent>
        <DrawerNavLinkButton Href="invent#overview" IconClasses="" ButtonText="Overview" />
        <DrawerNavLinkButton Href="invent#futurevision" IconClasses="" ButtonText="Future Vision App" />
        <DrawerNavLinkButton Href="invent#unifiedchurch" IconClasses="" ButtonText="Unified Church App" />
        <DrawerNavLinkButton Href="invent#hangoutavailability" IconClasses="" ButtonText="Hang Out Availability App" />
        <DrawerNavLinkButton Href="invent#philosophyorientation" IconClasses="" ButtonText="Philosophy Orientation App" />
        <DrawerNavLinkButton Href="invent#controllerkeyboardprototype" IconClasses="" ButtonText="Controller Keyboard Prototype" />
        <DrawerNavLinkButton Href="invent#audiogames" IconClasses="" ButtonText="Audio Games" />
        <DrawerNavLinkButton Href="invent#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" />
    </DrawerContent>
    <PageContent>
        <PageContainer>
            <div style="width: 100%; height: 100%; height: 100%;">This is the page</div>
            <div id="overview" class=""></div>
            <div id="futurevision" class=""></div>
            <div id="unifiedchurch" class=""></div>
            <div id="hangoutavailability" class=""></div>
            <div id="philosophyorientation" class=""></div>
            <div id="controllerkeyboardprototype" class=""></div>
            <div id="audiogames" class=""></div>
            <div id="contact" class=""></div>
            <Contact />
        </PageContainer>
    </PageContent>
</DrawerPageTemplate>

@* This is an example of templated components *@
@*
<TableTemplate Items="pets" Context="pet">
    <TableHeader>
        <td>ID</td>
        <td>Name</td>
    </TableHeader>
    <RowTemplate>
        <td>@pet.PetId</td>
        <td>@pet.Name</td>
        @*
        <td>@context.PetId</td>
        <td>@context.Name</td>
        *
    </RowTemplate>
</TableTemplate>

@code {
    private List<Pet> pets = new()
    {
        new Pet { PetId = 2, Name = "Mr. Bigglesworth" },
        new Pet { PetId = 4, Name = "Salem Saberhagen" },
        new Pet { PetId = 7, Name = "K-9" }
    };

    private class Pet
    {
        public int PetId { get; set; }
        public string? Name { get; set; }
    }
}
*@

@code { }
