@page "/knowhow"

<PageTitle>Know-How - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-vial" HeaderText="Know-How">
    <DrawerContent>
        <DrawerNavLinkButton Href="knowhow#overview" IconClasses="" ButtonText="Overview" />
        <DrawerNavLinkButton Href="knowhow#approach" IconClasses="" ButtonText="Approach" />
        <DrawerNavLinkButton Href="knowhow#csharp" IconClasses="" ButtonText="C#" />
        <DrawerNavLinkButton Href="knowhow#javascript" IconClasses="" ButtonText="JS" />
        <DrawerNavLinkButton Href="knowhow#python" IconClasses="" ButtonText="Python" />
        <DrawerNavLinkButton Href="knowhow#php" IconClasses="" ButtonText="PHP" />
        <DrawerNavLinkButton Href="knowhow#styling" IconClasses="" ButtonText="Styling" />
        <DrawerNavLinkButton Href="knowhow#certifications" IconClasses="" ButtonText="Certifications" />
        <DrawerNavLinkButton Href="knowhow#projects" IconClasses="fa-solid fa-diagram-project" ButtonText="Projects" />
        <DrawerNavLinkButton Href="knowhow#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" />
    </DrawerContent>
    <PageContent>
        <div style="width: 100%; height: 100%; height: 100%;">
            This is the page content for now.
        </div>
        <div id="overview" class=""></div>
        <div id="approach" class=""></div>
        <div id="csharp" class=""></div>
        <div id="javascript" class=""></div>
        <div id="python" class=""></div>
        <div id="php" class=""></div>
        <div id="styling" class=""></div>
        <div id="certifications" class=""></div>
        <div id="projects" class=""></div>
        <ProjectsPromo />
        <div id="contact" class=""></div>
        <Contact />
    </PageContent>
</DrawerPageTemplate>

@code { }
