
.spinner-container {
    justify-content: center;
    align-content: center;
    height: calc(var(--content-height) - 18px);
    font-size: 3.5em;
}

.row-shared-with-info-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-button-container {
    height: 38px;
    width: 38px;
    margin: 0 40px 0 10px;
}

.info-button {
    height: 38px;
    width: 38px;
    background-color: #6c757d;
    border-radius: 0.25rem;
    color: #eee;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .info-button > a {
        text-decoration: none;
        color: #eee;
    }

    .info-button:hover {
        cursor: pointer;
    }

.loader1 {
    margin: auto;
    border: 6px solid lightgrey;
    border-radius: 50%;
    border-top: 6px solid blue;
    width: 70px;
    height: 70px;
    animation: spinner 1.3s ease infinite;
}
.loader2 {
    margin: auto;
    border: 6px solid lightgrey;
    /*border-radius: 50%;*/ /* compare this class with .loader1 - notice anything? */
    border-top: 6px solid red;
    width: 80px;
    height: 80px;
    animation: anti-spinner 3s linear infinite;
}

.loader3 {
    margin: auto;
    border: 14px solid green;
    border-radius: 50%;
    border-top: 10px solid green;
    border-right: 10px solid red;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;
    width: 80px;
    height: 80px;
    animation: spinner 1s linear infinite;
}
.loader4 {
    margin: auto;
    border: 30px solid pink;
    border-radius: 50%;
    border-top: 10px solid pink;
    border-bottom: 10px solid pink;
    width: 80px;
    height: 120px;
    animation: anti-spinner 4s ease-in-out infinite;
}
.flipper1 {
    margin: auto;
    border: 14px solid green;
    border-radius: 50%;
    border-top: 10px solid brown;
    border-right: 10px solid hotpink;
    border-bottom: 10px solid purple;
    border-left: 10px solid orange;
    outline: 5px solid aquamarine;
    width: 80px;
    height: 80px;
    animation: flipper 5s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes anti-spinner {
    0% {
        transform: rotate(1125deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes flipper {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotate(0deg);
    }
    33% {
        transform: rotateY(360deg) rotateX(0deg) rotate(0deg);
    }
    67% {
        transform: rotateY(360deg) rotateX(360deg) rotate(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg) rotate(720deg);
    }
}


