@page "/loadingspinners"

<PageTitle>Loading Spinners - MobileNav Template</PageTitle>

<div class="spinner-container">
    <div class="row my-5">
        <div class="loader1"></div>
    </div>
    <div class="row mb-5">
        <div class="loader2"></div>
    </div>
    <div class="row mb-5">
        <div class="loader3"></div>
    </div>
    <div class="row mb-5">
        <div class="loader4"></div>
    </div>
    <div class="row mb-5">
        <div class="flipper1"></div>
    </div>
</div>
