@page "/multipagedata"
@inject ICounterService CounterService

<PageTitle>Multi-Page Data - MobileNav Template</PageTitle>

<h3>Multi-Page Data</h3>

<div>Count from CounterService on /counter: @CounterService.Count</div>
