@* Commented out to show that it's not being used. *@
@* Notes: POSITION ISSUE WITH PANEL: each panel needs its unique poisitioning, whether absolute, relative, top 20, some weird calculation - could pass as Parameter and in-line style it, or leave template as is for generic use of whole screen options and then not use it for now (all of this is in an effort to make the behind panel useful and to float the panel in the middle of the screen w/flexbox when there are few options available *@
@*
@using ProfessionalWebsite.Client.Classes.PanelMgmt;


<div class="@panelMgmt.Panels[PanelIndex].MainContent">
    @Content
</div>

<div class="panel @panelMgmt.Panels[PanelIndex].PanelStatus">
    @Panel
</div>

<div class="behindpanel @panelMgmt.Panels[PanelIndex].BehindPanelStatus" @onclick="panelMgmt.DeactivateAllPanels">

</div>


@code {
    private PanelMgmt panelMgmt = PanelMgmt.Instance;

    [Parameter]
    public int PanelIndex { get; set; }
    [Parameter]
    public RenderFragment? Panel { get; set; }
    [Parameter]
    public RenderFragment? Content { get; set; }
}
*@
