@page "/projects"
@using ProfessionalWebsite.Client.Classes.PanelMgmt;
@using ProfessionalWebsite.Client.Classes.NavMgmt;
@implements IDisposable

<PageTitle>Projects - Collyn Brenner</PageTitle>

<ProjectsPageTemplate>
    <div>Direct attention to projects to the left, then Statistics Section below on this page as all page content.</div>
    <h2>Statistics by Project</h2>

    <h4>AnimateMain: @navMgmt.AnimateMain</h4>

    <h4>PanelMgmt</h4>
    <p>Panel Group 1</p>
    @for (int i = 2; i < panelMgmt.PanelGroups[0].Panels.Count(); i++)
    {
        <p>PanelGroup Panel @i</p>
        <p>PanelGroupId: [@panelMgmt.Panels[i].PanelGroupId]</p>
        <p>PanelStatus: [@panelMgmt.Panels[i].PanelStatus]</p>
        <p>PanelButtonStatus: [@panelMgmt.Panels[i].PanelButtonStatus]</p>
        <p>BlurStatus: [@panelMgmt.Panels[i].BlurStatus]</p>
        <p>BehindPanelStatus: [@panelMgmt.Panels[i].BehindPanelStatus]</p>
        <br/>
    }
    <p>LoationPanel</p>
    <p>PanelGroupId: [@panelMgmt.PanelGroups[0].LocationPanelId]</p>
    @*
    <p>PanelStatus: [@panelMgmt.PanelGroups[0].LocationPanel.PanelStatus]</p>
    <p>PanelButtonStatus: [@panelMgmt.PanelGroups[0].LocationPanel.PanelButtonStatus]</p>
    <p>BlurStatus: [@panelMgmt.PanelGroups[0].LocationPanel.BlurStatus]</p>
    <p>BehindPanelStatus: [@panelMgmt.PanelGroups[0].LocationPanel.BehindPanelStatus]</p>
    *@
    
    <br />

    <TableTemplate/>


</ProjectsPageTemplate>

@code {
    private NavMgmt navMgmt = NavMgmt.Instance;
    private PanelMgmt panelMgmt = PanelMgmt.Instance;

    protected override void OnInitialized() =>
        panelMgmt.OnPanelMgmtUpdated += UpdateThisComponent;
    void IDisposable.Dispose() =>
        panelMgmt.OnPanelMgmtUpdated -= UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();

}
