@inject UIService UIService
@implements IDisposable

@page "/projects"

<PageTitle>Projects - Collyn Brenner</PageTitle>

<ProjectsPageTemplate>
    <div>Direct attention to projects to the left, then Statistics Section below on this page as all page content.</div>
    <h2>Statistics by Project</h2>

    <h4>AnimateMain: @UIService.AnimMgmt.AnimateMain</h4>

    <h4>PanelMgmt</h4>
    <p>Panel Group 1</p>
    @for (int i = 2; i < UIService.PanelMgmt.PanelGroups[0].Panels.Count(); i++)
    {
        <p>PanelGroup Panel @i</p>
        <p>PanelGroupId: [@UIService.PanelMgmt.Panels[i].PanelGroupId]</p>
        <p>PanelStatus: [@UIService.PanelMgmt.Panels[i].PanelStatus]</p>
        <p>PanelButtonStatus: [@UIService.PanelMgmt.Panels[i].PanelButtonStatus]</p>
        <p>BlurStatus: [@UIService.PanelMgmt.Panels[i].BlurStatus]</p>
        <p>BehindPanelStatus: [@UIService.PanelMgmt.Panels[i].BehindPanelStatus]</p>
        <br/>
    }
    <p>LocationPanel</p>
    <p>PanelGroupId: [@UIService.PanelMgmt.PanelGroups[0].LocationPanelId]</p>
    <p style="width: 150px; height: 150px; background-color: hotpink;" @onclick='(()=>Console.WriteLine("This is to be printed to the browser console."))'></p>
    @*
    <p>PanelStatus: [@UIService.PanelMgmt.PanelGroups[0].LocationPanel.PanelStatus]</p>
    <p>PanelButtonStatus: [@UIService.PanelMgmt.PanelGroups[0].LocationPanel.PanelButtonStatus]</p>
    <p>BlurStatus: [@UIService.PanelMgmt.PanelGroups[0].LocationPanel.BlurStatus]</p>
    <p>BehindPanelStatus: [@UIService.PanelMgmt.PanelGroups[0].LocationPanel.BehindPanelStatus]</p>
    *@
    
    <br />

    <TableTemplate/>


</ProjectsPageTemplate>

@code {
    protected override void OnInitialized()
    {
        UIService.PanelMgmt.OnPanelMgmtUpdated += UpdateThisComponent;
        
    }
    void IDisposable.Dispose() =>
        UIService.PanelMgmt.OnPanelMgmtUpdated -= UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();
}
