@inject UIService UIService
@using ProfessionalWebsite.Client.Classes.Mgmt;
@implements IDisposable

<div class="toggle-all-sections-container">
    <div class="toggle-all-sections" @onclick="(()=>UIService.SectionMgmt.ToggleAllSections(PageId))">
        @if (UIService.SectionMgmt.SectionedPages[PageId].SectionsStatus == SectionsStatus.AllAreOpen)
        { <span class="fa-solid fa-down-left-and-up-right-to-center"></span> }
        else
        { <span class="fa-solid fa-up-right-and-down-left-from-center"></span> }
    </div>
</div>

@code {
    [Parameter]
    public int PageId { get; set; }

    protected override void OnInitialized()
    {
        UIService.SectionMgmt.OnSectionMgmtChanged += UpdateThisComponent;
    }
    void IDisposable.Dispose()
    {
        UIService.SectionMgmt.OnSectionMgmtChanged -= UpdateThisComponent;
    }
    private void UpdateThisComponent(string meaninglessRequirement)
    {
        StateHasChanged();
    }
}
