@page "/testpage"

<PageTitle>Test Page - MobileNav Template</PageTitle>

<h3>Test Page</h3>

<TestPageChild>
    The best content of this child!
</TestPageChild>

<i class="glyphicon glyphicon-thumbs-up"></i>
<i class="io io-house"></i>
<ion-icon name="home-outline"></ion-icon>

<TestVertScroll LineCount="80"/>
