
<div class="construction-container">
    <div class="construction">
        <br /><br /><br /><br /><br /><br />
        <h2>Currently Being Built</h2>
        <h5>(Come back later when it's finished!)</h5>
        <br /><br /><br /><br /><br /><br />
    </div>
</div>

@code { }
