@* This element covers all contents in the viewport if the viewport is not mobile *@
<div class="larger-than-mobile">
    <div class="ltm-section">
        <h2>Sorry, your screen is too wide!</h2>
        <br />This web app was designed to be mobile only, so we can't let you see
        <br />what is behind the curtain at this viewport width . . .
        <br />
        <br />. . . but if you're still interested in checking out what IS here,
        <br />just scan this QR code with a mobile device!
    </div>
    <br />
    <br />
    <div class="ltm-section">
        <img src="media/images/frame.png" class="larger-than-mobile-image"/>
    </div>
</div>

@code { }
