.larger-than-mobile {
    background-color: var(--app-background-color);
    width: 100vw;
    height: 100vh;
    z-index: 60;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.ltm-section {
    padding: 8px;
}

.larger-than-mobile-image {
    width: auto;
    height: 50vh;
    border-radius: 35px;
    padding: 20px;
}

@media (min-width: 78vh) {

    .larger-than-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}