.collapsible-section-header {
    z-index: 10;
    color: #eee;
    height: 3rem;
    padding-left: 16px;
    padding-right: 0.25rem;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
}

    .collapsible-section-header:hover {
        background-color: rgba(255,255,255,0.1);
        border-radius: 12px;
    }

.chevron-container {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.icon {
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}
