
<div class="collapsible-section-header" @onclick="ToggleSection">
    <span class="@IconClasses" aria-hidden="true"></span>
    @ParentButtonText
    <div class="chevron-container">
        <i class="fa fa-chevron-left" style="display: @ChevronLeftDisplay" />
        <i class="fa fa-chevron-down" style="display: @ChevronDownDisplay" />
    </div>
</div>

<div style="display: @SectionDisplay">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string IconClasses { get; set; } = "fa-regular fa-circle";
    [Parameter]
    public string ParentButtonText { get; set; }
    public string ChevronLeftDisplay = "block";
    public string ChevronDownDisplay = "none";
    public string SectionDisplay = "none";

    public void ToggleSection()
    {
        if (ChevronLeftDisplay == "block")
        {
            ChevronLeftDisplay = "none";
            ChevronDownDisplay = "block";
            SectionDisplay = "block";
        }
        else
        {
            ChevronLeftDisplay = "block";
            ChevronDownDisplay = "none";
            SectionDisplay = "none";
        }
    }
}
