.container-one {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    z-index: 40;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 4px); /* 4px == .bottom-row.style.margin */
}

.container-two {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    color: #eee;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.icon {
    color: #eee;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.button-label {
    display: none;
}

/* start Plugable statuses */

.highlight-button {
    background-color: rgba(255,255,255,0.25);
}

/*
.suppress-button-highlight ::deep a.active {
    background-color: rgba(255,255,255,0.0);
}*/

/* end Plugable statuses */
/* Part of Option 3 */
@media (min-width: 78vh) {
    .container-one {
        bottom: calc(calc(4px + calc(var(--panel-height) * 0.5)) - calc(calc(var(--top-bar-height) - 6px) * 2.5));
        right: 0px;
        left: auto;
        height: calc(calc(var(--top-bar-height) - 6px) * 5);
        width: calc(var(--top-bar-height) - 16px);
        display: flex;
        flex-direction: column;
    }
    .container-two {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
    }
    .nav-button {
        flex: 1;
        width: calc(var(--top-bar-height) - 24px);
    }
}

@media (min-width: 1008px) {
    .container-one {
        background-color: rgba(0,0,0,0);
        padding: 1.5px;
        bottom: auto;
        right: auto;
        left: calc(50% - 290px);
        display: block;
        height: auto;
        width: 580px;
    }

    .container-two {
        flex-direction: row;
    }
    .nav-button {
        background-color: rgba(0,0,0,0);
        width: auto;
        margin: 1px;
    }
        .nav-button:hover {
            background-color: rgba(255, 255, 255, 0.25);
            justify-content: center;
            align-items: center;
        }

    .nav-button {
        justify-content: center;
        cursor: pointer;
    }

    .button-label {
        display: block;
        margin-left: 7px;
        font-size: 0.88rem;
        padding-top: 2px;
    }

    /* start Plugable statuses */

    .highlight-button {
        background-color: rgba(255,255,255,0.25);
    }

    /* end Plugable statuses */
}
