.collapsible-section-header[b-8okg0dgetx] {
    z-index: 10;
    color: #eee;
    height: 3rem;
    padding-left: 16px;
    padding-right: 0.25rem;
    display: flex;
    flex: 1;
    align-items: center;
}

    .collapsible-section-header:hover[b-8okg0dgetx] {
        background-color: rgba(255,255,255,0.1);
        border-radius: 12px;
    }

    .chevron-container[b-8okg0dgetx] {
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }

.icon[b-8okg0dgetx] {
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}
