@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* start Custom CSS */

:root {
    /* start Layout positioning values */
    /*  nearly 16:9 aspect ratio (100:56.7)
        4:3 aspect ratio
        100vw;  /* default */

    --app-container-height: 100vh;
    --app-container-height-percent: 100%;
    --app-container-width: 100vw;
    --app-container-breakpoint1-height: calc(100vh * 1);
    --app-container-breakpoint1-height-percent: 100%;
    --app-container-breakpoint1-width: calc(75vh * 1);
    --app-container-breakpoint2-height: calc(100vh * 0.95);
    --app-container-breakpoint2-height-percent: calc(100% * 0.95);
    --app-container-breakpoint2-width: calc(75vh * 0.95);
    --top-bar-height: 56px; /* top */
    --footer-height: 50px; /* bottom (since applied to nav buttons, subtract) */
    --content-height: calc( var(--app-container-height) - calc(calc(var(--top-bar-height) + var(--footer-height)) + 2px)); /* middle */

    --sidebar-width-mobile: 100vw;
    --panel-height: var(--panel-height-mobile);
    --panel-height-mobile: calc(calc(65vh - var(--top-bar-height)) - 10px); /* In vh measurement only. */
    --panel-height-tablet: calc(calc(65vh - var(--top-bar-height)) - 10px);
    --sidebar-width-desktop: 220px;
    --panel-container-width: 70%;
    --app-container-horiz-negativespace-offset: calc(calc(100vw - var(--app-container-width)) / 2);
    /* 
        mobile-tablet breakpoint: 78vh
        tablet-desktop breakpoint: 1008px
    */

    --app-background-color: #eee;
    --app-color: #222;
    /* end Layout positioning values */

    font-family: 'Gotham';
}

/* pause Custom CSS */

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

/* resume Custom CSS */

.app {
    background-color: #222;
    height: 100vh;
}

.loading-container {
    color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 95vh;
    font-size: 2rem;
    z-index: 2;
}

.loader {
    border: 6px solid lightgrey;
    border-radius: 50%;
    margin-top: 20px;
    border-top: 6px solid blue;
    width: 38px;
    height: 38px;
    animation: spinner 1.5s ease infinite;
}

.topleft {
    background-color: darkred;
    position: fixed;
    top: calc(-45vw - calc(100vw * 0.08));
    left: -25vw;
    height: 60vw;
    width: 60vw;
    transform: rotate(60deg);
}

.bottomright {
    background-color: darkblue;
    position: fixed;
    bottom: calc(-45vw - calc(100vw * 0.08));
    right: -25vw;
    height: 60vw;
    width: 60vw;
    transform: rotate(60deg);
}

@media (min-width: 78vh) {
    :root {
        --app-container-height: var(--app-container-breakpoint1-height);
        --app-container-height-percent: var(--app-container-breakpoint1-height-percent);
        --app-container-width: var(--app-container-breakpoint1-width);
        --panel-height: var(--panel-height-tablet);
    }

    .loading-container {
        font-size: 4rem;
    }

    .loader {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1008px) {
    :root {
        --app-container-height: var(--app-container-breakpoint2-height);
        --app-container-height-percent: var(--app-container-breakpoint2-height-percent);
        --app-container-width: var(--app-container-breakpoint2-width);
    }
}

@media (max-height: 380px) {
    * {
        /* for mobile landscape orientation */
        font-size: 0.8rem;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end Custom CSS */
