
/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.positioning-container[b-i8dz12kr23] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.game-container[b-i8dz12kr23] {
    height: 100%;
    width: 100%;
    position: relative;
}

.game-container-items[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    height: calc(100% - 46px);
}

    .game-container-items > .text-prompts-container[b-i8dz12kr23], 
    .game-container-items > .text-prompts-container-v2[b-i8dz12kr23], 
    .game-container-items > .text-prompts-container-v3[b-i8dz12kr23] {
        flex: 1;
    }

.topmost-buttons[b-i8dz12kr23] {
    display: flex;
    justify-content: space-between;
}

.top-corner-button-containers[b-i8dz12kr23] {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    border-radius: 0.25rem;
    color: #eee;
}

    .top-corner-button-containers > a[b-i8dz12kr23] {
        text-decoration: none;
        color: #eee;
    }

    .top-corner-button-containers:hover[b-i8dz12kr23] {
        cursor: pointer;
    }

.settings-button[b-i8dz12kr23] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wpf-image[b-i8dz12kr23] {
    width: 100%;
    height: calc(var(--content-height) - 80px);
    display: flex;
    align-items: center;
}

    .wpf-image > img[b-i8dz12kr23] {
        width: 100%;
        height: auto;
    }

.text-prompts-container[b-i8dz12kr23] {
    padding: 14px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v2[b-i8dz12kr23] {
    padding: 14px 0px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts-container-v3[b-i8dz12kr23] {
    margin: 10px 0px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts[b-i8dz12kr23] {
    height: calc(var(--content-height) - 340px);
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
}

.text-prompts-v2[b-i8dz12kr23] {
    height: 100%;
    width: 100%;
    text-align: left;
}

.text-prompts-v3[b-i8dz12kr23] {
    height: 100%;
    width: 100%;
    text-align: left;
}

.status-report[b-i8dz12kr23] {
    padding: 0px 70px 14px 70px;
}

.controls[b-i8dz12kr23] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop[b-i8dz12kr23] {
    background-color: #111;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-v1[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    font-size: 1.2rem;
    background-color: yellow;
    margin: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-backdrop-v2[b-i8dz12kr23] {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-backdrop-v3[b-i8dz12kr23] {
    background-color: #111;
    height: 216px;
    width: 390px;
    padding: 12px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector-row[b-i8dz12kr23] {
    display: flex;
    justify-content: center;
}

.workertype-selector[b-i8dz12kr23] {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgb(255, 196, 0);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workertype-selector-v3[b-i8dz12kr23] {
    height: 40px;
    width: 230px;
    font-size: 1.2rem;
    background-color: rgba(255, 196, 0, 0.95);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-button[b-i8dz12kr23] {
    font-size: 1rem;
    background-color: rgba(0, 0, 128, 0.5);
    color: #777;
    margin: 4px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.assign-buttons-active[b-i8dz12kr23] {
    background-color: rgba(0, 0, 128, 1);
    color: #eee;
}

.report[b-i8dz12kr23] {
    background-color: lightgrey;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 8px;
}

.control-button-work[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v2[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.control-button-work-v3[b-i8dz12kr23] {
    height: 40px;
    width: 300px;
    color: #111;
    font-size: 1.2rem;
    background-color: powderblue;
    margin: 4px;
    border-radius: 10px;
}

.workertype-inactive[b-i8dz12kr23] {
}

.form-check-label[b-i8dz12kr23] {
}

.row-flex[b-i8dz12kr23] {
    display: flex;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
}

.row-flex-v3t[b-i8dz12kr23] {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
    font-size: 1.1rem;
}

.row-flex-v3[b-i8dz12kr23] {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 12px;
    margin-top: 4px;
    padding: 8px 4px 4px 4px;
    font-size: 1.1rem;
}

.field-flex[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    line-height: 1.2;
}

.field-flex-v3[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 0px 10px;
}

.field-flex-arrow[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex-arrow-v3[b-i8dz12kr23] {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.field-flex > *[b-i8dz12kr23] {
    text-align: center;
    padding-bottom: 4px;
}

.try-again[b-i8dz12kr23] {
    color: #eee;
    background-color: red;
    border-radius: 8px;
    padding: 4px 10px;
    width: 70%;
}

.rates-and-conversions[b-i8dz12kr23] {
    font-size: 0.9rem;
}

.vault-honey-nectar[b-i8dz12kr23] {
    display: flex;
    align-items: center;
}

.vault-amounts[b-i8dz12kr23] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trajectories-v3[b-i8dz12kr23] {
    padding: 0px 8px;
}

.start-with-timer-on[b-i8dz12kr23] {
    color: #eee;
    background-color: darkblue;
    border-radius: 8px;
    padding: 4px 10px;
    width: 70%;
}

.behindpanel[b-i8dz12kr23] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.settings-panel[b-i8dz12kr23] {
    position: absolute;
    top: 20px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    max-width: 520px;
    padding: 20px 20px 10px 20px;
    border-radius: 12px;
    z-index: 4;
    background-color: rgba(176, 240, 246, 0.85);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    border: 1px solid #777;
    display: flex;
    flex-direction: column;
}

.settings-scrollable-section[b-i8dz12kr23] {
    overflow-y: auto;
    /*max-height: calc(var(--content-height) - 210px);
    height: calc(var(--content-height) - 80px);*/
    flex: 1;
}

.settings-bottom-container[b-i8dz12kr23] {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 10px;
}

.settings-close[b-i8dz12kr23] {
    background-color: navy;
    width: 30%;
    height: 40px;
    color: #eee;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* start Pluggable classes */

/* (defaults being operated on:)
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
*/

.pm-panel-visible[b-i8dz12kr23] {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

.pm-content-blurred[b-i8dz12kr23] {
    filter: blur(2.5px);
}

.pm-behindpanel-present[b-i8dz12kr23] {
    display: block;
    transition: background-color 0.2s;
    z-index: 3;
}

.pm-panelbutton-active[b-i8dz12kr23] {
    background-color: #111;
}

/* end Pluggable classes */

@media (min-width: 380px) {
    .field-flex-v3[b-i8dz12kr23] {
        padding: 0px 16px;
    }
}

@media (min-width: 540px) {
    .settings-panel[b-i8dz12kr23] {
        left: calc(50% - 260px);
    }
}

@media (min-width: 78vh) {
    .game-container[b-i8dz12kr23] {
        max-width: 800px;
    }

    .game-container-items[b-i8dz12kr23] {
        /*height: calc(var(--content-height) + 20px);*/
    }

    .text-prompts-container[b-i8dz12kr23] {
        padding: 0px 40px;
    }

    .text-prompts-container-v2[b-i8dz12kr23] {
        padding: 0px 40px;
    }

    .text-prompts-container-v3[b-i8dz12kr23] {
        padding: 0px 40px;
    }
}

@media (min-width: 1008px) {

    .game-container-items[b-i8dz12kr23] {
        /*height: calc(var(--content-height) + 60px);*/
    }

    .text-prompts-container[b-i8dz12kr23] {
        padding: 0px 150px;
    }
}

@media (min-width: 1400px) {
    .text-prompts-container[b-i8dz12kr23] {
        padding-right: 220px;
        padding-left: 220px;
    }
}
