
/* Styles here are only for Current interface, not Original (which uses only bootstrap). */

.top-row[b-huled98q4w] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.top-row-floating-center[b-huled98q4w] {
    width: 100%;
    max-width: 60vh;
    display: flex;
    justify-content: space-between;
}

.top-row-floating-center > *[b-huled98q4w] {
    margin: 0px 3px;
}

.top-row-corners[b-huled98q4w] {
    flex: 1;
}

.top-corner-button-containers[b-huled98q4w] {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d;
    border-radius: 0.25rem;
    color: #eee;
}

    .top-corner-button-containers > a[b-huled98q4w] {
        text-decoration: none;
        color: #eee;
    }

    .top-corner-button-containers:hover[b-huled98q4w] {
        cursor: pointer;
    }

.current-ui-container[b-huled98q4w] {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
}

.text-prompts-container-container[b-huled98q4w] {
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex: 1;
}

.text-prompts-container[b-huled98q4w] {
    padding: 4px 0px 8px 0px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.text-prompts[b-huled98q4w] {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
    padding: 8px;
}

.game-progress[b-huled98q4w] {
    background-color: rgba(0,0,0,0.6);
    color: #eee;
    border-radius: 8px;
    position: sticky;
    top: 0px;
    font-size: 1rem;
    padding: 4px 10px;
    margin-bottom: 14px;
    text-align: center;
}

.controls[b-huled98q4w] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.controls-backdrop[b-huled98q4w] {
    background-color: rgba(54, 20, 70, 0.9);
    padding: 10px 10px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    width: 340px;
}

.save-load[b-huled98q4w] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
}

    .save-load > *[b-huled98q4w] {
        margin: 5px 2px;
    }

.input-saveload-container[b-huled98q4w] {
    width: 280px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .input-saveload-container > *[b-huled98q4w] {
        margin: 3px 0px;
    }

.saveloadcontrol-button[b-huled98q4w] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
}

.noncompass-directions-container[b-huled98q4w] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.directions-row[b-huled98q4w] {
    display: flex;
    justify-content: center;
    width: 100%;
}

.direction[b-huled98q4w] {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.button-inactive[b-huled98q4w] {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.2);
}

.button-selectable[b-huled98q4w] {
    background-color: lightgrey;
    color: #111;
    cursor: pointer;
}

.search-button[b-huled98q4w] {
    background-color: #28a745;
    color: #eee;
    cursor: pointer;
}
.short-input[b-huled98q4w] {
    max-height: 30px;
}

@media (min-width: 394px) {
    .directions-container[b-huled98q4w] {
        padding: 0px 10px;
    }

    .input-saveload-container[b-huled98q4w] {
        width: 300px;
    }

    .controls-backdrop[b-huled98q4w] {
        width: 360px;
    }
}
@media (min-width: 78vh) {
    .text-prompts-container[b-huled98q4w] {
        margin: 0px 40px;
    }
    .current-ui-container[b-huled98q4w] {
        height: calc(var(--content-height) - 10px);
    }
}

@media (min-width: 1008px) {
    .current-ui-container[b-huled98q4w] {
        height: calc(var(--content-height) + 20px);
    }
}
