.sub-page-container[b-oiel5bdph5] {
    background-color: rgba(128, 139, 150, 0.65);
    display: flex;
    justify-content: center;
    padding: 10px 6px 6px 6px;
    text-align: left;
}

.sections-container[b-oiel5bdph5] {
    width: 100%;
    max-width: 1100px;
    min-height: calc(calc(var(--content-height) + var(--footer-height)) - 14px);
}

.section-container[b-oiel5bdph5] {
    width: 100%;
    padding-bottom: 6px;
}

.section-header[b-oiel5bdph5] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 20, 70, 1);
    color: #eee;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 7px 0 rgba(0, 0, 0, 0.02);
}

    .section-header > i[b-oiel5bdph5] {
        font-size: 0.8rem;
    }

.section-content[b-oiel5bdph5] {
    background-color: #eee;
    width: 100%;
    transition: height 0.2s;
    border-radius: 0px 0px 6px 6px;
    padding: 18px;
}

.section-content-title[b-oiel5bdph5] {
    text-align: center;
    padding: 12px 0px;
}
/* start Pluggable classes */
.collapsed-header[b-oiel5bdph5] {
    border-radius: 6px;
}

.collapsed-content[b-oiel5bdph5] {
    display: none;
}

/* end Pluggable classes */

@media (min-width: 78vh) {
    .sub-page-container[b-oiel5bdph5] {
        height: auto;
        min-height: 100%;
    }
    .section-header[b-oiel5bdph5] {
        justify-content: start;
    }

    .section-container[b-oiel5bdph5] {
        width: auto;
        margin: 0px 40px;
    }
    .toggle-all-sections-container[b-oiel5bdph5] {
        justify-content: start;
    }
    .toggle-all-sections[b-oiel5bdph5] {
        bottom: 6px;
    }
    .toggle-all-sections-container[b-oiel5bdph5] {
        bottom: 6px;
    }
}

@media (min-width: 1008px) {
    .sub-page-container[b-oiel5bdph5] {
        background-color: rgba(128, 139, 150, 0.45);
    }
    .section-container[b-oiel5bdph5] {
        margin: auto;
    }
    .toggle-all-sections[b-oiel5bdph5] {
        width: 50px;
        height: 50px;
        border-radius: 14px;
    }
    .section-header[b-oiel5bdph5] {
        height: 35px;
    }
}
